.head {
    text-align: center;
    margin-top: 8rem;
    height: 100vh;
}
.text {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 48px;
    color: #fff;
    max-height: 50px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.animation {
    text-align: start;
    color: crimson;
    overflow: hidden;
}

.inner-animation {
    transition: 0.7s ease-in-out;
}

.animation-items {
    display: inline-block;
}
.cta{
    margin-top: 50px;
}
.btn{
    transition: all 1s ease;
    border: 1px solid crimson;
    padding: 10px;
    font-size: 25px;
    top: 50px;
}
.btn:hover{
    background-color: crimson;
    border-radius: 9px;
}