@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #2b323c;
  color: #fff;
  font-family: 'Akaya Telivigala', cursive;
}
a{
  color: #fff;
  text-decoration: none;
}
ul li {
  list-style: none;
}
html{
  scroll-behavior: smooth;
}
.line-1 {
  height: 1px;
  background: #fff;
}
.subscribe a {
  padding: 10px;
  border: 2px solid crimson;
  transition: all 1s ease;
  width: 50px;
}

.subscribe a:hover {
  background: crimson;
  border-radius: 8px;
}
button{
  padding: 10px;
  border-radius: 8px;
  transition: all 1s ease;
  width: 50px;
  padding: 15px;
  width: 85px;
}
button:hover{
  background: crimson;
  border-radius: 8px;
}